* {
  padding: 0;
  margin: 0;
}
html,
body {
  height: 100%;
  background-color: #881337;
}
header {
  background-color: #4c0519;
  color: bisque;
  text-align: center;
  padding: 16px;
  font-family: 'Open Sans', sans-serif;
  font-family: 'Tilt Prism', cursive;
  /* font-size: 2vw; */
}
header h1 {
  text-shadow: 0 0 7px #5271ff, 0 0 10px #fff, 0 0 21px #fff, 0 0 42px #5271ff;
  font-size: xxx-large;
}
.main {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.message {
  font-size: 25px;
  margin: 16px 0 16px 0;
  color: bisque;
}

.gameBoard {
  /* border: 2px solid black; */
  /* height: 500px; */
  margin: 0 3% 0 3%;
  display: grid;
  grid-template-columns: repeat(3, max(100px, 8vw));
  grid-template-rows: repeat(3, max(100px, 8vw));
  justify-content: center;

  background-color: #881337;
}
.gameBoard > div {
  /* height: 60px;
  width: 60px; */
  border: 2px solid #33010f;
  font-size: 66px;
  cursor: pointer;

  display: flex;
  justify-content: center;
  align-items: center;
  /* padding: 20px;f */
}
.gameBoard > div:hover {
  background-color: #7d0821;
}

/* utility classes */
.gameBoard > :nth-child(1) {
  border-left: 0 !important;
  border-top: 0 !important;
}
.gameBoard > :nth-child(2) {
  border-top: 0 !important;
}
.gameBoard > :nth-child(3) {
  border-top: 0 !important;
  border-right: 0 !important; /*because there was higher specifity value above so i had to use !important*/
}
.gameBoard > :nth-child(4) {
  border-left: 0 !important;
}
.gameBoard > :nth-child(6) {
  border-right: 0 !important;
}
.gameBoard > :nth-child(7) {
  border-bottom: 0 !important;
  border-left: 0 !important;
}
.gameBoard > :nth-child(8) {
  border-bottom: 0 !important;
}
.gameBoard > :nth-child(9) {
  border-bottom: 0 !important;
  border-right: 0 !important; /*because there was higher specifity value above so i had to use !important*/
}

/* .br0 {
  border-right: 0 !important;
}
.bl0 {
  border-left: 0 !important;
}
.bt0 {
  border-top: 0 !important;
}
.bb0 {
  border-bottom: 0 !important;
} */
.playerBox {
  margin-top: 16px;
}
.buttonContainer {
  margin-top: 16px;
}
.playerBox input {
  background-color: #33010f;
  border: 0;
  border-radius: 20px;
  padding: 8px;
  color: bisque;
}
.restart-button,
.new-game-button {
  padding: 10px 20px;
  border: 0;
  border-radius: 7px;
  background-color: #500724;
  color: wheat;
  font-size: max(18px, 2vw);
  cursor: pointer;
}

.start-button {
  /* background-color: #2b3809; */
}

footer {
  text-align: center;
  color: bisque;
  font-size: 20px;
  padding-bottom: 20px;
}

/* Miscellaneous */
.hide {
  display: none;
}
.player1 {
  text-shadow: 0 0 4px #fff, 0 0 11px #fff, 0 0 19px #fff, 0 0 25px #0fa;
}
.player2 {
  text-shadow: 0 0 4px #fff, 0 0 11px #fff, 0 0 19px #fff, 0 0 25px #f09;
}

/*----------------------popupForm----------------------*/
.modal-wrapper {
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
  width: 100vw;
  height: 100vh;
  position: fixed; /* Stay in place */
}

.modal {
  display: flex; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  overflow: auto; /* Enable scroll if needed */
  height: fit-content;
  font-size: max(3vh, 15px);
}

/* Modal Content/Box */
.modal-content,
.front-content {
  background-color: rgba(101, 255, 191, 0.164);
  text-align: center;
  width: 100%; /* Could be more or less, depending on screen size */
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border: thin;
  border-radius: 20px;
  color: #fff;
  text-shadow: 0 0 7px #5271ff, 0 0 10px #fff, 0 0 21px #fff, 0 0 42px #5271ff;
}

.front-content {
  margin: 5vh auto;
  border: none;
  width: auto;
  border-radius: 0px;
  border: 0.2rem solid #fff;
  border-radius: 2rem;
  padding: 2rem 5rem 2rem 5rem;
  box-shadow: 0 0 0.2rem #fff, 0 0 0.2rem #fff, 0 0 2rem #bc13fe,
    0 0 0.8rem #bc13fe, 0 0 2.8rem #bc13fe, inset 0 0 1.3rem #bc13fe;
  min-height: 100%;
  display: flex;
  justify-content: center;
}

.front:hover,
.front:focus {
  color: black;
  cursor: pointer;
}

.inputField {
  display: flex;
  font-size: max(3vw, 25px);
  width: 100%;
  padding-bottom: 3rem;
  align-items: center;
}
.formClass {
  height: 2rem;
  margin-left: 2rem;
  background-color: rgba(201, 201, 201, 0.678);
  border: 0.1rem solid #fff;
  border-radius: 1rem;
  box-shadow: 0 0 4px #fff, 0 0 11px #fff, 0 0 40px #fff,
    0 0 80px rgba(0, 255, 170, 0.485), 0 0 90px rgba(0, 255, 170, 0.352);
  padding: 0.5rem;
  color: black;
  font-size: 2rem;
  text-shadow: 0 0 7px #ff00009b, 0 0 10px rgb(255, 0, 0);
  width: 50%;
}
.input-label {
  min-width: 50%;
}
.radio {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  width: 200px;
}

input[type='radio'] {
  border: 0px;
  width: 1.5rem;
  height: 1.5rem;
  margin-left: 2rem;
}

.startButton {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  width: 200px;
  outline: none;
  background-color: rgba(201, 201, 201, 0.678);
  border: 0.1rem solid #fff;
  border-radius: 1rem;
  box-shadow: 0 0 4px #fff, 0 0 11px #fff, 0 0 40px #fff,
    0 0 80px rgba(0, 255, 170, 0.485), 0 0 90px rgba(0, 255, 170, 0.352);
  text-shadow: 0 0 3px #4ee60e9b, 0 0 10px rgb(0, 255, 21);
  color: rgb(18, 64, 26);
  font-size: 1.5rem;
  font-weight: 500;
}
.startButton:hover {
  cursor: pointer;
}
