* {
  padding: 0;
  margin: 0;
}
html,
body {
  height: 100%;
  background-color: #881337;
}
header {
  background-color: #4c0519;
  color: bisque;
  text-align: center;
  padding: 16px;
  font-family: 'Open Sans', sans-serif;
  font-family: 'Tilt Prism', cursive;
  /* font-size: 2vw; */
}
.main {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.message {
  font-size: 25px;
  margin: 16px 0 16px 0;
  color: bisque;
}

.gameBoard {
  /* border: 2px solid black; */
  /* height: 500px; */
  margin: 0 3% 0 3%;
  display: grid;
  grid-template-columns: repeat(3, 8vw);
  grid-template-rows: repeat(3, 8vw);
  justify-content: center;

  background-color: #881337;
}
.gameBoard > div {
  /* height: 60px;
  width: 60px; */
  border: 2px solid #33010f;
  font-size: 6vw;
  cursor: pointer;

  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
}
.gameBoard > div:hover {
  background-color: #7d0821;
}

/* utility classes */

.br0 {
  border-right: 0 !important; /*because there was higher specifity value above so i had to use !important*/
}
.bl0 {
  border-left: 0 !important;
}
.bt0 {
  border-top: 0 !important;
}
.bb0 {
  border-bottom: 0 !important;
}
.buttonContainer {
  margin-top: 16px;
}
.restart-button {
  padding: 10px 20px;
  border: 0;
  border-radius: 7px;
  background-color: #500724;
  color: wheat;
  font-size: 2vw;
  cursor: pointer;
}

footer {
  text-align: center;
  color: bisque;
  font-size: 20px;
  padding-bottom: 20px;
}
